<section class="sidebar" aria-label="Filtres">
  <section>
    <h2>Catégories</h2>
    <div class="btn-group vertical" id="product-categories">
      <button (click)="changeCategory('cameras')" [ngClass]="{'selected' : category==='cameras'}">Appareils photo</button>
      <button (click)="changeCategory('consoles')" [ngClass]="{'selected' : category==='consoles'}">Consoles</button>
      <button (click)="changeCategory('screens')" [ngClass]="{'selected' : category==='screens'}">Écrans</button>
      <button (click)="changeCategory('computers')" [ngClass]="{'selected' : category==='computers'}">Ordinateurs</button>
      <button (click)="changeCategory('all')" [ngClass]="{'selected' : category==='all'}">Tous les produits</button>
    </div>
  </section>
  <section>
    <h2>Classement</h2>
    <div class="btn-group vertical" id="product-criteria">
      <button (click)="changeCriteria('price-asc')" [ngClass]="{'selected' : criteria==='price-asc'}">Prix (bas-haut)</button>
      <button (click)="changeCriteria('price-dsc')" [ngClass]="{'selected' : criteria==='price-dsc'}">Prix (haut-bas)</button>
      <button (click)="changeCriteria('alpha-asc')" [ngClass]="{'selected' : criteria==='alpha-asc'}">Nom (A-Z)</button>
      <button (click)="changeCriteria('alpha-dsc')" [ngClass]="{'selected' : criteria==='alpha-dsc'}">Nom (Z-A)</button>
    </div>
  </section>
</section>
<article>
  <span class="right-header" id="products-count">{{countProducts}} produits</span>
  <div class="products" id="products-list">
    <div class="product" *ngFor="let product of lstProducts; let i = index">
      <a routerLink="/produits/{{product.id}}" title="En savoir plus...">
        <h2>{{product.name}}</h2>
        <img alt="{{product.name}}" src="./assets/img/{{product.image}}">
        <p><small>Prix</small> {{lstPrices[i]}}&thinsp;$</p>
      </a>
    </div>
  </div>
</article>
